<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="secondary">
      <ion-button (click)="submitForm()">
        <ion-icon name="save-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title >New Mahasiswa</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="full">
    <ion-item>
      <ion-label>Nama</ion-label>
      <ion-input
        [(ngModel)]="mahasiswa.nama"
        placeholder="Masukan Nama">
      </ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label>Umur</ion-label>
      <ion-input
        [(ngModel)]="mahasiswa.umur"
        placeholder="Masukan Umur">
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Alamat</ion-label>
      <ion-textarea
        [(ngModel)]="mahasiswa.alamat"
        placeholder="Enter more information here..."
      ></ion-textarea>
    </ion-item>
  </ion-list>
</ion-content>

